@font-face {
    font-family: 'Lato-Bold';
    src: url('./font/font2/Lato-Bold.ttf');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('./font/font2/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('./font/font2/Lato-Regular.ttf');
}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    scroll-behavior: smooth;
    font-family: 'Lato-Light';
   
}
.header {
    display:flex;
    justify-content: center;
}
.block {
    position: relative;
    width: 1600px;
    height: 75px;
    background-color: #222222;

}
.img1 {
    position: absolute;
    left: 231px;
    top: 18px;
}
.img2 {
    position: absolute;
    left: 316px;
    top: 28px;
}
.img3 {
    position: absolute;
    left: 1201px;
    top: 26px;
}
.first_block {
    display: flex;
    justify-content: center;
}
.first_products {
    display: flex;
    height: 764px;
    align-items: center;
    background-color: #F1E4E6;
    width: 1600px;
}
.top_content_title {
    width: 370px;
    min-height: 93px;
    font-size: 32px;
    font-weight: 700;
    margin-left: 16px;
}

#the_brand {
    color: #222;
    font-family: 'Lato-Bold';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#of_luxerious {
    color: #222;
    font-family: 'Lato-Light';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fashion {
    color: #F16D7F;
    font-family: 'Lato-Light';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.second_block {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 65px;

    
}
.second_products_woman {
    display: block;
    position: relative;
   
    
}

.menu_content_photo {
    position: absolute;
    top: 0;
    bottom: 0;
    
}

.menu_content_text {
    color: white;
    position: absolute;
    top: 105px;
    left: 103px;
    font-size: 16px;
    font-weight: 400;
    width: 154px;
    text-align: center;
}

.pink_content_text{
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.man {
    display: block;
    position: relative;
}

.child {
    display: block;
    position: relative;
}
.accesories {
    position: relative;
}

.menu_content_photo_big{
    position: absolute;
    top: 0;
    bottom: 0;}

.menu_content_text_big{
        color: white;
        position: absolute;
        top: 65px;
        left: 491.14px;
        font-size: 16px;
        font-weight: 400;
        width: 159.91797px;
        text-align: center;
    }