* {
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img0{
    display: block;


}
.img1{
    position: relative;
    left: -1325px;

}
.img2{
    position: relative;
    left: -1258px;

}
.img3{
    position: relative;
    left: -340px;

}
.first_product{
    display: flex;
    justify-content: center;
    position: relative;

}
.rectangle{
    position: relative;
    
}

.second_products{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    grid-template-columns: 360px 360px 360px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    display: grid;
}

.head_third_products{
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body_third{
    padding-top: 70px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    justify-content: center;
    gap: 30px;
}
.foot_third{
        padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}