@font-face {
    font-family: Gilroy-Bold;
    src: url(./font/font2/Gilroy-Bold.woff2);
}
@font-face {
    font-family: Gilroy-Regular;
    src: url(./font/font2/Gilroy-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.header {
    display: grid;
}
.header_block{
    display: flex;
    justify-self: center;
    padding: 100px;
} 
.header_content {
    width: 310px;
    height: 226px;

}
.header_content_center {
    width: 370px;
    height: 291px;
}
.button_header {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
}
.parag{
    color: #AAA;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */

}
.main_heading{
    display: grid;
    justify-items: center;
}
.main_block{
    display: flex;
    justify-content: center;
}

.block {
    width: 370px;
    height: 549px;
}

.parag_main{
    display: flex;
    width: 682px;
    height: 48px;
    color: #AAA;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin: 0 auto;
    justify-content: center;
}
.main_button{
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    background-color: #F25822;
    border-radius: 50px;
    vertical-align: middle;
    
}