* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 94px;
    gap: 32px;
}
.header_link {
    display: flex;
    margin-top: 94px;
    margin-bottom: 94px;
    gap: 22px;
}
.top_content {
    display: flex;
    margin-top: 115px;
    margin-bottom: 305px;
    align-items: flex-start;
    flex-direction: row-reverse;
}
.top_info{
    margin-top: 115px;
    margin-bottom: 305px;
}
.title{
    margin-bottom: 8px;
}
.text{
    margin-bottom: 37px;
}
.top_logos{
    margin-top: 97px;
    margin-bottom: 96px;
}