* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Medium.ttf');
}
.header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 94px;
    gap: 32px;
}
.header_link {

    display: flex;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: 500px;
    gap: 22px;
}
.top_content {
    display: flex;
    margin-top: 115px;
    margin-bottom: 305px;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 39px;
}
.top_info{
    font-family: Roboto;
    margin-top: 115px;
    margin-bottom: 305px;
}
.title{
    margin-bottom: 8px;
}
.text{
    margin-bottom: 37px;
}
.top_logos{
    display: flex;
    margin-top: 97px;
    margin-bottom: 96px;
    justify-content: center;
    gap: 48px;
}

.buttons1 {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}
.buttons2 {
    color: #AAA;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #FFF;
}